.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0.5rem;
    font-size: 1rem;
}
.header__nav {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    gap: 1.25rem;
}
.header__nav-link-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgb(169, 175, 194);
    border-radius: 50%;
}
.header__nav-link-wrap img {
    width: 30px;
    height: 30px;
}
.header__nav-link-title {
    text-align: center;
    font-weight: bold;
}
.header__nav-link.active .header__nav-link-wrap {
    background: rgb(35, 73, 186);
    background: linear-gradient(127deg, rgba(35, 73, 186, 1) 0%, rgba(255, 220, 143, 1) 75%);
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}
.header__nav-link.active .header__nav-link-title {
    color: rgb(35, 73, 186);
}
